<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyOnlineShopingMVCProject</display-name>
  <welcome-file-list>
    <welcome-file>signin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OnlineShopingBuy</display-name>
    <servlet-name>OnlineShopingBuy</servlet-name>
    <servlet-class>com.online.controller.OnlineShopingBuyProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnlineShopingBuy</servlet-name>
    <url-pattern>/buyproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateProductBill</display-name>
    <servlet-name>GenerateProductBill</servlet-name>
    <servlet-class>com.online.controller.GenerateProductBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateProductBill</servlet-name>
    <url-pattern>/productbill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpOnlineShoping</display-name>
    <servlet-name>SignUpOnlineShoping</servlet-name>
    <servlet-class>com.online.controller.SignUpOnlineShoping</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpOnlineShoping</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>com.online.controller.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterNewUser</display-name>
    <servlet-name>RegisterNewUser</servlet-name>
    <servlet-class>com.online.controller.RegisterNewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterNewUser</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProducts</display-name>
    <servlet-name>ViewProducts</servlet-name>
    <servlet-class>com.online.controller.ViewProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProducts</servlet-name>
    <url-pattern>/viewproducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductPaySlip</display-name>
    <servlet-name>ProductPaySlip</servlet-name>
    <servlet-class>com.online.controller.ProductPaySlip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductPaySlip</servlet-name>
    <url-pattern>/payslip</url-pattern>
  </servlet-mapping>
</web-app>